.container{
    max-width: 1550px;
    padding: 0 15px;
    margin: 0 auto;
   
}

.header{
    margin-top: 50px;
}

.header__top{
    margin-bottom: 20px;
    display: flex;
}


.menu__list{
    font-size: 20px;
    gap: 30px;
    display: flex;
}

.menu__item{
    font-size: 16px;
    line-height: 16px;
}

.phone{
    font-size: 16px;
    line-height: 16px;
    margin-left: 400px;
    text-align: right;
}


.time{
    display: block;
}

.header__bottom{
    display: flex;
    gap: 150px;
    margin-bottom: 25px;
}

.header__sub-menu{
    line-height: 20px;
    font-size: 16px;
    display: flex;
    gap: 100px;
    
}

.sub-menu__list{
    display: flex;
    gap: 40px;
}



.search__button{
    background: scroll;
}

.line{
    background-color: black;
    width: 2px;
    height: 35px;
}

.header__right{
    display: flex;
    gap: 30px;
    
}

.bottom__img{
    margin-bottom: 150px;
}












