@import url("null.css");
@import url("../node_modules/swiper/swiper-bundle.min.css");

@import url("header.css");

@import url("main/main-block.css");

.container{
    max-width: 1550px;
    padding: 0 15px;
    margin: 0 auto;
   
}

body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}




